name: github-docker

# this workflow only triggers when manually started
on: workflow_dispatch

permissions:
  contents: read
  packages: write

jobs:
  build-dependencies:
    if: (github.repository == 'dealii/docker-files')
    name: dependencies - ${{ matrix.system.ubuntu_version }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        system:
          - ubuntu_version: "jammy"
            dealii_version: 9.6.0-1~ubuntu22.04.1~ppa1
            tag: jammy-v9.6.0
          - ubuntu_version: "noble"
            dealii_version: 9.6.0-1~ubuntu24.04.1~ppa1
            tag: noble-v9.6.0

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image of dependencies ${{ matrix.system.ubuntu_version }}
        uses: docker/build-push-action@v5
        with:
          context: ./dependencies/
          cache-from: type=registry,ref=dealii/dependencies:${{ matrix.system.ubuntu_version }}
          cache-to: type=inline
          build-args: |
            IMG=${{ matrix.system.ubuntu_version }}
            VERSION=${{ matrix.system.dealii_version}}
          platforms: linux/arm64,linux/amd64
          push: true
          tags: |
            ghcr.io/${{ github.repository }}:${{ matrix.system.tag }}
            dealii/dependencies:${{ matrix.system.tag }}
